body {
  background: wheat;
}
h1,
p {
  text-align: center;
  width: 1200px;
  margin: 20px auto;
}

img {
  width: 800px;
  display: block;
  margin: 0 auto;
}

a {
  margin: 20px;
}

.links {
  text-align: center;
  margin: 20px;
}
